body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 1600px;
  margin: 0 auto;
}

*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: 0;
}

*:focus-visible,
input:focus-visible {
  outline: #d8d8d8;
}

.page-header {
  width: 100%;
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 18px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #222222;
  position: relative;
}

.page-header-wrap {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 380px;
}

.page-header-btn button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.page-header-wrap img {
  width: 100%;
  height: 100%;
}

.page-header-logo {
  display: block;
  width: 44px;
  height: 38px;
}

.page-header-logo:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.page-header-logo:active img {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.page-search-btn-form {
  width: 26px;
  height: 27px;
  position: relative;
}

.page-search-btn-form:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.page-search-btn-form:active img {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.page-search-btn-input {
  width: 0;
  height: 0;
  background-color: transparent;
  padding: 5px;
  border: none;
  position: absolute;
  top: -2px;
  left: 35px;
  text-transform: capitalize;
}

.page-search-btn-input:focus {
  width: 230px;
  height: 30px;
  background-color: #c7c7c7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-header-btn {
  width: 169px;
  min-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px 380px 0 0;
  background-color: transparent;
  border: transparent;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
  background-color: #f16d7f;
  cursor: pointer;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
  background-color: #9f9f9f;
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.menu-btn span::after,
.menu-btn span::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}

.menu-btn span::after {
  top: 10px;
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ .menu-list {
  display: block;
}

.menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 85px;
  right: 0;
  z-index: 20;
  -webkit-box-shadow: 1px 0px 2px 0px #000;
          box-shadow: 1px 0px 2px 0px #000;
}

.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6f6e6e;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-list-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background-color: #b7b6b6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
  background-color: #535353;
}

.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.menu-title a,
.menu-list-item a,
.menu-sublist-item a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-decoration: none;
}

.menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #f16d7f;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list-item:hover > a {
  color: #9b5a63;
}

.menu-list-item:active > a {
  color: #000;
}

.menu-sublist {
  padding: 0 0 0 21.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6f6e6e;
}

.menu-sublist-item a {
  text-decoration: none;
}

.menu-sublist-item:hover a {
  text-decoration: underline;
}

.menu-sublist-item:active a {
  text-decoration: none;
}

/* page bredcrumb */
.page-bredcrumb {
  background-color: #f8f3f4;
  width: 100%;
}

.page-breadcrumb-content {
  background-color: #f8f3f4;
  width: 100%;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-links {
  margin-left: 330px;
}

.page-title {
  color: #f16d7f;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 280px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  padding-right: 235px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

ul.breadcrumb:last-child {
  color: #f16d7f;
  font-weight: 700;
}

.page-name-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
}

/* page-cart*/
.wrapper {
  max-width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cart-content {
  margin: 96px 380px;
}

.page-cart {
  min-width: 652px;
  max-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-shadow: 20px 10px 14px 0px #e5e5e5;
          box-shadow: 20px 10px 14px 0px #e5e5e5;
}

.page-cart a {
  margin: 22px -80px;
}

.page-cart-info {
  max-width: 262px;
  min-height: 222px;
  padding: 22px 0 0 10px;
}

.page-cart-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  color: #222222;
}

.page-cart-info-prodct {
  color: #575757;
}

.page-cart-info-product-container {
  margin-top: 42px;
  font-size: 22px;
}

#price {
  color: #f16d7f;
  margin-left: 3px;
}

#quantity {
  padding: 0 15px;
  border: 1px solid #eaeaea;
  margin-left: 30px;
}

/* page-adress */
.page-adress {
  min-width: 380px;
  margin-left: -280px;
  margin-top: 113px;
}

.page-adress-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.page-info-adress {
  width: 100%;
  margin-top: 23px;
  padding: 13px 16px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.page-submit-adress {
  padding: 13px 16px;
  color: #4a4a4a;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 23px;
  background-color: transparent;
  border: 1px solid #a4a4a4;
}

.page-adress-general {
  background-color: #f5f3f3;
  margin-top: 57px;
  height: 214px;
}

.page-adress-general-container {
  padding: 39px 45px 42px 43px;
}

.page-adress-general-content {
  text-align: end;
}

.page-adress-general-subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #222222;
}

.page-adress-general-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 -10px 0 0;
}

.page-adress-general-title p {
  padding-top: 12px;
}

#sum-price {
  margin-left: 25px;
}

#general-sum-price {
  color: #f16d7f;
  font-weight: bold;
  margin-left: 25px;
}

.page-adress-line {
  max-width: 295px;
  border: 1px solid #e2e2e2;
  margin: 20px 20px;
}

.page-adress-submit {
  max-width: 273px;
  padding: 16px 43px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
}

/* page-registration */
.wrap {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px;
}

.page-registration-info-product {
  width: 358px;
}

.page-registration {
  max-width: 360px;
}

.page-info-registration {
  width: 100%;
  margin-top: 23px;
  padding: 13px 10px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.page-info-registration-radio {
  margin: 32px 0;
  border: 1px solid #a4a4a4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-info-registration-radio label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.page-info-registration-txt p {
  margin: 15px 0 30px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.page-registration-submit {
  min-width: 167px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  padding: 16px 0;
}

/* page-exclusive */
.page-exclusive {
  max-width: 652px;
}

.page-exclusive-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.page-exclusive-title p {
  margin-bottom: 20px;
}

.page-exclusive-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.page-exclusive-content {
  padding-left: 35px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  max-width: 652px;
  color: #000000;
}

.page-exclusive-content-txt {
  line-height: 40px;
}

.page-exclusive-content-txt::before {
  content: "\2713\00a0";
  display: block;
  position: absolute;
  right: 980px;
}

/* page-carousel */
.page-carousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  min-height: 777px;
}

.page-carousel-control {
  padding: 12px 17px;
  border: none;
  background: rgba(42, 42, 42, 0.15);
  cursor: pointer;
}

.control-left {
  border: none;
  background-color: transparent;
}

.control-right {
  border: none;
  background-color: transparent;
}

/* page-info-about-product */
.page-info-about-product {
  max-width: 1140px;
  min-height: 601px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 0 auto;
  margin-top: -70px;
  position: relative;
}

/*=========end page-info-about-product  ===========*/
.page-info-product {
  width: 1141px;
  min-height: 601;
  border: 1px solid #eaeaea;
  text-align: center;
}

.page-info-about-content {
  text-align: center;
  padding-top: 65px;
}

.page-info-collection {
  font-size: 14px;
  font-weight: 300;
  color: #f16d7f;
  text-transform: uppercase;
  line-height: 17px;
}

.page-info-collection::after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  position: absolute;
  right: 535px;
  margin-top: 10px;
}

.page-info-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 12px 0 48px 0;
  margin-left: 100px;
}

.page-info-txt {
  width: 555px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 32px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.page-info-cost {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.page-info-line {
  content: "";
  display: block;
  width: 641px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 65px;
}

/* products */
.product-link {
  background-color: #f16d7f;
}

.product-item-text {
  background-color: #f8f8f8;
  padding: 16px 0;
}

.product-item-cost {
  padding-left: 20px;
}

#man {
  margin-top: 20px;
}

ul.page-sort-title {
  padding: 10px 16px;
  list-style: none;
}

ul.page-sort-title li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

ul.page-sort-title li a {
  color: #636363;
  text-decoration: none;
}

ul.page-sort-title li::after {
  padding: 8px;
  color: #6f6e6e;
  content: "\02C5\00a0";
}

.page-info-btn {
  width: 211px;
  background-color: transparent;
  border: 1px solid #ff6a6a;
  color: #ff6a6a;
  margin-top: 48px;
}

.page-info-btn a {
  padding-top: 14px;
  text-decoration: none;
  color: #ff6a6a;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 25px;
}

.page-info-btn a span {
  margin-left: 15px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 129px;
}

.product-item {
  width: 360px;
  min-height: 581px;
  text-decoration: none;
  color: #000;
  margin: 0 20px 20px 0;
  position: relative;
}

.product-item-photo-wrp {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.product-item-photo {
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-item-title {
  padding: 0 18px;
  font-size: 13px;
  line-height: 15, 6px;
}

.product-item-subtitle {
  padding: 12px 18px;
  font-size: 14px;
  color: #5d5d5d;
  line-height: 16, 8px;
  font-weight: 300;
  font-style: normal;
}

/* subscribe */
.subscribe {
  width: 100%;
  min-width: 1700px;
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(/front/img/subscribe/bacground.jpg);
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(/front/img/subscribe/bacground.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-info {
  width: 359px;
  min-height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 390px 0 0;
}

.subscribe-info-userpic {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 50px 30px 0;
  background-image: url(/front/img/subscribe/userpic.png);
}

.subscribe-info-text {
  width: 100%;
  height: 99px;
  text-align: center;
  font-size: 20px;
  color: #222224;
  font-style: italic;
}

.subscribe-form {
  width: 358px;
}

.subscribe-form-title,
.subscribe-form-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #222224;
}

.subscribe-form-title {
  display: block;
  font-size: 24px;
}

.subscribe-form-subtitle {
  line-height: 30px;
  font-size: 18px;
}

.subscribe-form-btn {
  width: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 14px 20px;
  border-radius: 20px 0 0 20px;
  color: #222224;
  background-color: #e1e1e1;
  font-size: 14px;
  opacity: 67%;
  line-height: 17px;
}

.subscribe-form-email:active {
  border-radius: 20px 0 0 20px;
}

.subscribe-form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 14px 20px;
  background-color: #f16d7f;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.subscribe-form-submit:active {
  background-color: #fff;
  color: #ff6a6a;
  border: 1px solid #ff6a6a;
}

/* footer */
.page-footer {
  width: 100%;
  min-width: 1600px;
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222224;
  padding: 20px 235px;
}

.page-foter-text {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 19px;
}

.fa {
  background-color: #fff;
  padding: 8px;
  width: 31px;
  height: 32px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin: 0 3px 0 0;
  cursor: pointer;
}

.fa:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fa-facebook:hover {
  background-color: #3b5998;
}

.fa-instagram:hover {
  background-color: #e1306c;
}

.fa-pinterest:hover {
  background-color: #e60023;
}

.fa-twitter:hover {
  background-color: #1da1f2;
}
/*# sourceMappingURL=style.css.map */