$pink-text-color: #F16D7F;
$width-100: 100%;
$heigth-text: uppercase;
$normal-text: 14px;
$bold-text: 700;




.page-carousel{
    min-height: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control{
    padding: 12px 17px;
}