/* line 7, scss/style.scss */
body {
  font-family: "Lato", sans-serif;
  margin: 0; }

/* line 12, scss/style.scss */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 20, scss/style.scss */
.container {
  min-width: 1600px;
  margin: 0 auto; }

/* line 25, scss/style.scss */
*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: 0; }

/* line 30, scss/style.scss */
*:focus-visible,
input:focus-visible {
  outline: #d8d8d8; }

/* line 37, scss/style.scss */
.page-header {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px 0;
  box-sizing: border-box;
  background: #222222;
  position: relative; }

/* line 51, scss/style.scss */
.page-header-wrap {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 380px; }

/* line 59, scss/style.scss */
.page-header-btn button {
  padding: 0;
  background-color: transparent;
  border: none; }

/* line 66, scss/style.scss */
.page-header-wrap img {
  width: 100%;
  height: 100%; }

/* line 74, scss/style.scss */
.page-header-logo {
  display: block;
  width: 44px;
  height: 38px; }

/* line 81, scss/style.scss */
.page-header-logo:hover img {
  filter: brightness(50%); }

/* line 87, scss/style.scss */
.page-header-logo:active img {
  filter: brightness(25%); }

/* line 92, scss/style.scss */
.page-search-btn-form {
  width: 26px;
  height: 27px;
  position: relative; }

/* line 99, scss/style.scss */
.page-search-btn-form:hover img {
  filter: brightness(50%); }

/* line 105, scss/style.scss */
.page-search-btn-form:active img {
  filter: brightness(25%); }

/* line 110, scss/style.scss */
.page-search-btn-input {
  width: 0;
  height: 0;
  background-color: transparent;
  padding: 5px;
  border: none;
  position: absolute;
  top: -2px;
  left: 35px;
  text-transform: capitalize; }

/* line 123, scss/style.scss */
.page-search-btn-input:focus {
  width: 230px;
  height: 30px;
  background-color: #c7c7c7;
  transition: 0.3s; }

/* line 131, scss/style.scss */
.page-header-btn {
  width: 169px;
  min-height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 380px 0 0;
  background-color: transparent;
  border: transparent; }

/* line 144, scss/style.scss */
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px; }

/* line 152, scss/style.scss */
.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
  background-color: #f16d7f;
  cursor: pointer; }

/* line 159, scss/style.scss */
.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
  background-color: #9f9f9f; }

/* line 166, scss/style.scss */
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative; }

/* line 175, scss/style.scss */
.menu-btn span::after,
.menu-btn span::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0; }

/* line 188, scss/style.scss */
.menu-btn span::after {
  top: 10px; }

/* line 193, scss/style.scss */
#menu-switch {
  display: none; }

/* line 197, scss/style.scss */
#menu-switch:checked ~ .menu-list {
  display: block; }

/* line 201, scss/style.scss */
.menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 85px;
  right: 0;
  z-index: 20;
  box-shadow: 1px 0px 2px 0px #000; }

/* line 217, scss/style.scss */
.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px; }

/* line 229, scss/style.scss */
.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6f6e6e;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  transform: rotate(45deg); }

/* line 244, scss/style.scss */
.menu-list-close-btn::after {
  transform: rotate(-45deg); }

/* line 249, scss/style.scss */
.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background-color: #b7b6b6; }

/* line 254, scss/style.scss */
.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
  background-color: #535353; }

/* line 259, scss/style.scss */
.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000;
  text-transform: uppercase; }

/* line 270, scss/style.scss */
.menu-title a,
.menu-list-item a,
.menu-sublist-item a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-decoration: none; }

/* line 280, scss/style.scss */
.menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #f16d7f;
  text-transform: uppercase;
  text-decoration: none; }

/* line 290, scss/style.scss */
.menu-list-item:hover > a {
  color: #9b5a63; }

/* line 296, scss/style.scss */
.menu-list-item:active > a {
  color: #000; }

/* line 301, scss/style.scss */
.menu-sublist {
  padding: 0 0 0 21.5px;
  box-sizing: border-box;
  list-style: none; }

/* line 308, scss/style.scss */
.menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6f6e6e; }

/* line 318, scss/style.scss */
.menu-sublist-item a {
  text-decoration: none; }

/* line 324, scss/style.scss */
.menu-sublist-item:hover a {
  text-decoration: underline; }

/* line 330, scss/style.scss */
.menu-sublist-item:active a {
  text-decoration: none; }

/* page bredcrumb */
/* line 337, scss/style.scss */
.page-bredcrumb {
  background-color: #f8f3f4;
  width: 100%; }

/* line 342, scss/style.scss */
.page-breadcrumb-content {
  background-color: #f8f3f4;
  width: 100%;
  min-height: 148px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* line 351, scss/style.scss */
.breadcrumb-links {
  margin-left: 330px; }

/* line 355, scss/style.scss */
.page-title {
  color: #f16d7f;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 280px; }

/* line 362, scss/style.scss */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  padding-right: 235px; }

/* line 368, scss/style.scss */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase; }

/* line 375, scss/style.scss */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0"; }

/* line 381, scss/style.scss */
ul.breadcrumb li a {
  color: #636363;
  text-decoration: none; }

/* line 386, scss/style.scss */
ul.breadcrumb:last-child {
  color: #f16d7f;
  font-weight: 700; }

/* line 391, scss/style.scss */
.page-name-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px; }

/* page-cart*/
/* line 399, scss/style.scss */
.wrapper {
  max-width: 652px;
  display: flex;
  justify-content: space-between; }

/* line 405, scss/style.scss */
.page-cart-content {
  margin: 96px 380px; }

/* line 409, scss/style.scss */
.page-cart {
  min-width: 652px;
  max-height: 306px;
  display: flex;
  margin-bottom: 40px;
  box-shadow: 20px 10px 14px 0px #e5e5e5; }
  /* line 416, scss/style.scss */
  .page-cart a {
    margin: 22px -80px; }

/* line 421, scss/style.scss */
.page-cart-info {
  max-width: 262px;
  min-height: 222px;
  padding: 22px 0 0 10px; }

/* line 427, scss/style.scss */
.page-cart-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  color: #222222; }

/* line 436, scss/style.scss */
.page-cart-info-prodct {
  color: #575757; }

/* line 440, scss/style.scss */
.page-cart-info-product-container {
  margin-top: 42px;
  font-size: 22px; }

/* line 445, scss/style.scss */
#price {
  color: #f16d7f;
  margin-left: 3px; }

/* line 450, scss/style.scss */
#quantity {
  padding: 0 15px;
  border: 1px solid #eaeaea;
  margin-left: 30px; }

/* page-adress */
/* line 458, scss/style.scss */
.page-adress {
  min-width: 380px;
  margin-left: -280px;
  margin-top: 113px; }

/* line 464, scss/style.scss */
.page-adress-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }

/* line 472, scss/style.scss */
.page-info-adress {
  width: 100%;
  margin-top: 23px;
  padding: 13px 16px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px; }

/* line 482, scss/style.scss */
.page-submit-adress {
  padding: 13px 16px;
  color: #4a4a4a;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 23px;
  background-color: transparent;
  border: 1px solid #a4a4a4; }

/* line 493, scss/style.scss */
.page-adress-general {
  background-color: #f5f3f3;
  margin-top: 57px;
  height: 214px; }

/* line 499, scss/style.scss */
.page-adress-general-container {
  padding: 39px 45px 42px 43px; }

/* line 503, scss/style.scss */
.page-adress-general-content {
  text-align: end; }

/* line 507, scss/style.scss */
.page-adress-general-subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #222222; }

/* line 514, scss/style.scss */
.page-adress-general-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 -10px 0 0; }
  /* line 521, scss/style.scss */
  .page-adress-general-title p {
    padding-top: 12px; }

/* line 526, scss/style.scss */
#sum-price {
  margin-left: 25px; }

/* line 530, scss/style.scss */
#general-sum-price {
  color: #f16d7f;
  font-weight: bold;
  margin-left: 25px; }

/* line 536, scss/style.scss */
.page-adress-line {
  max-width: 295px;
  border: 1px solid #e2e2e2;
  margin: 20px 20px; }

/* line 542, scss/style.scss */
.page-adress-submit {
  max-width: 273px;
  padding: 16px 43px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px; }

/* page-registration */
/* line 556, scss/style.scss */
.wrap {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px; }

/* line 564, scss/style.scss */
.page-registration-info-product {
  width: 358px; }

/* line 568, scss/style.scss */
.page-registration {
  max-width: 360px; }

/* line 572, scss/style.scss */
.page-info-registration {
  width: 100%;
  margin-top: 23px;
  padding: 13px 10px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px; }

/* line 582, scss/style.scss */
.page-info-registration-radio {
  margin: 32px 0;
  border: 1px solid #a4a4a4;
  box-sizing: border-box; }
  /* line 587, scss/style.scss */
  .page-info-registration-radio label {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000; }

/* line 596, scss/style.scss */
.page-info-registration-txt p {
  margin: 15px 0 30px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1; }

/* line 605, scss/style.scss */
.page-registration-submit {
  min-width: 167px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  padding: 16px 0; }

/* page-exclusive */
/* line 615, scss/style.scss */
.page-exclusive {
  max-width: 652px; }

/* line 619, scss/style.scss */
.page-exclusive-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }
  /* line 624, scss/style.scss */
  .page-exclusive-title p {
    margin-bottom: 20px; }

/* line 629, scss/style.scss */
.page-exclusive-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

/* line 636, scss/style.scss */
.page-exclusive-content {
  padding-left: 35px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  max-width: 652px;
  color: #000000; }

/* line 647, scss/style.scss */
.page-exclusive-content-txt {
  line-height: 40px; }
  /* line 649, scss/style.scss */
  .page-exclusive-content-txt::before {
    content: "\2713\00a0";
    display: block;
    position: absolute;
    right: 980px; }

/* page-carousel */
/* line 659, scss/style.scss */
.page-carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  min-height: 777px; }

/* line 669, scss/style.scss */
.page-carousel-control {
  padding: 12px 17px;
  border: none;
  background: rgba(42, 42, 42, 0.15);
  cursor: pointer; }

/* line 676, scss/style.scss */
.control-left {
  border: none;
  background-color: transparent; }

/* line 681, scss/style.scss */
.control-right {
  border: none;
  background-color: transparent; }

/* page-info-about-product */
/* line 688, scss/style.scss */
.page-info-about-product {
  max-width: 1140px;
  min-height: 601px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 0 auto;
  margin-top: -70px;
  position: relative; }

/*=========end page-info-about-product  ===========*/
/* line 700, scss/style.scss */
.page-info-product {
  width: 1141px;
  min-height: 601;
  border: 1px solid #eaeaea;
  text-align: center; }

/* line 707, scss/style.scss */
.page-info-about-content {
  text-align: center;
  padding-top: 65px; }

/* line 712, scss/style.scss */
.page-info-collection {
  font-size: 14px;
  font-weight: 300;
  color: #f16d7f;
  text-transform: uppercase;
  line-height: 17px; }
  /* line 718, scss/style.scss */
  .page-info-collection::after {
    content: "";
    display: block;
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    position: absolute;
    right: 535px;
    margin-top: 10px; }

/* line 730, scss/style.scss */
.page-info-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 12px 0 48px 0;
  margin-left: 100px; }

/* line 740, scss/style.scss */
.page-info-txt {
  width: 555px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 32px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center; }

/* line 752, scss/style.scss */
.page-info-cost {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px; }

/* line 759, scss/style.scss */
.page-info-line {
  content: "";
  display: block;
  width: 641px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 65px; }

/* products */
/* line 772, scss/style.scss */
.product-link {
  background-color: #f16d7f; }

/* line 776, scss/style.scss */
.product-item-text {
  background-color: #f8f8f8;
  padding: 16px 0; }

/* line 781, scss/style.scss */
.product-item-cost {
  padding-left: 20px; }

/* line 785, scss/style.scss */
#man {
  margin-top: 20px; }

/* line 789, scss/style.scss */
ul.page-sort-title {
  padding: 10px 16px;
  list-style: none; }

/* line 794, scss/style.scss */
ul.page-sort-title li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

/* line 801, scss/style.scss */
ul.page-sort-title li a {
  color: #636363;
  text-decoration: none; }

/* line 806, scss/style.scss */
ul.page-sort-title li::after {
  padding: 8px;
  color: #6f6e6e;
  content: "\02C5\00a0"; }

/* line 812, scss/style.scss */
.page-info-btn {
  width: 211px;
  background-color: transparent;
  border: 1px solid #ff6a6a;
  color: #ff6a6a;
  margin-top: 48px; }
  /* line 819, scss/style.scss */
  .page-info-btn a {
    padding-top: 14px;
    text-decoration: none;
    color: #ff6a6a;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px; }
    /* line 828, scss/style.scss */
    .page-info-btn a span {
      margin-left: 15px; }

/* line 834, scss/style.scss */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 129px; }

/* line 846, scss/style.scss */
.product-item {
  width: 360px;
  min-height: 581px;
  text-decoration: none;
  color: #000;
  margin: 0 20px 20px 0;
  position: relative; }

/* line 855, scss/style.scss */
.product-item-photo-wrp {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

/* line 864, scss/style.scss */
.product-item-photo {
  display: block;
  margin: 0 auto;
  box-sizing: border-box; }

/* line 870, scss/style.scss */
.product-item-title {
  padding: 0 18px;
  font-size: 13px;
  line-height: 15, 6px; }

/* line 876, scss/style.scss */
.product-item-subtitle {
  padding: 12px 18px;
  font-size: 14px;
  color: #5d5d5d;
  line-height: 16, 8px;
  font-weight: 300;
  font-style: normal; }

/* subscribe */
/* line 887, scss/style.scss */
.subscribe {
  width: 100%;
  min-width: 1700px;
  min-height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/subscribe/bacground.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

/* line 905, scss/style.scss */
.subscribe-info {
  width: 359px;
  min-height: 225px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 390px 0 0; }

/* line 915, scss/style.scss */
.subscribe-info-userpic {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 50px 30px 0;
  background-image: url(img/subscribe/userpic.png); }

/* line 923, scss/style.scss */
.subscribe-info-text {
  width: 100%;
  height: 99px;
  text-align: center;
  font-size: 20px;
  color: #222224;
  font-style: italic; }

/* line 932, scss/style.scss */
.subscribe-form {
  width: 358px; }

/* line 936, scss/style.scss */
.subscribe-form-title,
.subscribe-form-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #222224; }

/* line 943, scss/style.scss */
.subscribe-form-title {
  display: block;
  font-size: 24px; }

/* line 948, scss/style.scss */
.subscribe-form-subtitle {
  line-height: 30px;
  font-size: 18px; }

/* line 953, scss/style.scss */
.subscribe-form-btn {
  width: 357px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 960, scss/style.scss */
.subscribe-form-email {
  display: flex;
  align-items: center;
  border: none;
  padding: 14px 20px;
  border-radius: 20px 0 0 20px;
  color: #222224;
  background-color: #e1e1e1;
  font-size: 14px;
  opacity: 67%;
  line-height: 17px; }

/* line 973, scss/style.scss */
.subscribe-form-email:active {
  border-radius: 20px 0 0 20px; }

/* line 977, scss/style.scss */
.subscribe-form-submit {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 14px 20px;
  background-color: #f16d7f;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer; }

/* line 989, scss/style.scss */
.subscribe-form-submit:active {
  background-color: #fff;
  color: #ff6a6a;
  border: 1px solid #ff6a6a; }

/* footer */
/* line 997, scss/style.scss */
.page-footer {
  width: 100%;
  min-width: 1600px;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
  padding: 20px 235px; }

/* line 1008, scss/style.scss */
.page-foter-text {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 19px; }

/* line 1014, scss/style.scss */
.fa {
  background-color: #fff;
  padding: 8px;
  width: 31px;
  height: 32px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin: 0 3px 0 0;
  cursor: pointer; }

/* line 1026, scss/style.scss */
.fa:hover {
  color: #fff;
  transition: 0.3s; }

/* line 1031, scss/style.scss */
.fa-facebook:hover {
  background-color: #3b5998; }

/* line 1035, scss/style.scss */
.fa-instagram:hover {
  background-color: #e1306c; }

/* line 1039, scss/style.scss */
.fa-pinterest:hover {
  background-color: #e60023; }

/* line 1043, scss/style.scss */
.fa-twitter:hover {
  background-color: #1da1f2; }

/*# sourceMappingURL=style.css.map */
