/* line 7, scss/style.scss */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0; }

/* line 13, scss/style.scss */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 21, scss/style.scss */
.container {
  width: 100%;
  min-width: 300px;
  margin: 0 auto; }

/* line 27, scss/style.scss */
*:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: 0; }

/* line 32, scss/style.scss */
*:focus-visible,
input:focus-visible {
  outline: #d8d8d8; }

/* line 39, scss/style.scss */
.page-header {
  width: 100%;
  min-width: 300px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px 0;
  box-sizing: border-box;
  background: #222222;
  position: relative; }

/* line 54, scss/style.scss */
.page-header-wrap {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 380px; }

/* line 62, scss/style.scss */
.page-header-btn button {
  padding: 0;
  background-color: transparent;
  border: none; }

/* line 69, scss/style.scss */
.page-header-wrap img {
  width: 100%;
  height: 100%; }

/* line 77, scss/style.scss */
.page-header-logo {
  display: block;
  width: 44px;
  height: 38px; }

/* line 84, scss/style.scss */
.page-header-logo:hover img {
  filter: brightness(50%); }

/* line 90, scss/style.scss */
.page-header-logo:active img {
  filter: brightness(25%); }

/* line 95, scss/style.scss */
.page-search-btn-form {
  width: 26px;
  height: 27px;
  position: relative; }

/* line 102, scss/style.scss */
.page-search-btn-form:hover img {
  filter: brightness(50%); }

/* line 108, scss/style.scss */
.page-search-btn-form:active img {
  filter: brightness(25%); }

/* line 113, scss/style.scss */
.page-search-btn-input {
  width: 0;
  height: 0;
  background-color: transparent;
  padding: 5px;
  border: none;
  position: absolute;
  top: -2px;
  left: 35px;
  text-transform: capitalize; }

/* line 126, scss/style.scss */
.page-search-btn-input:focus {
  width: 230px;
  height: 30px;
  background-color: #c7c7c7;
  transition: 0.3s; }

/* line 134, scss/style.scss */
.page-header-btn {
  width: 169px;
  min-height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 380px 0 0;
  background-color: transparent;
  border: transparent; }

/* line 147, scss/style.scss */
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px; }

/* line 155, scss/style.scss */
.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
  background-color: #f16d7f;
  cursor: pointer; }

/* line 162, scss/style.scss */
.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
  background-color: #9f9f9f; }

/* line 169, scss/style.scss */
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative; }

/* line 178, scss/style.scss */
.menu-btn span::after,
.menu-btn span::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0; }

/* line 191, scss/style.scss */
.menu-btn span::after {
  top: 10px; }

/* line 196, scss/style.scss */
#menu-switch {
  display: none; }

/* line 200, scss/style.scss */
#menu-switch:checked ~ .menu-list {
  display: block; }

/* line 204, scss/style.scss */
.menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 85px;
  right: 0;
  z-index: 20;
  box-shadow: 1px 0px 2px 0px #000; }

/* line 220, scss/style.scss */
.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px; }

/* line 232, scss/style.scss */
.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6f6e6e;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  transform: rotate(45deg); }

/* line 247, scss/style.scss */
.menu-list-close-btn::after {
  transform: rotate(-45deg); }

/* line 252, scss/style.scss */
.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background-color: #b7b6b6; }

/* line 257, scss/style.scss */
.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
  background-color: #535353; }

/* line 262, scss/style.scss */
.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000;
  text-transform: uppercase; }

/* line 273, scss/style.scss */
.menu-title a,
.menu-list-item a,
.menu-sublist-item a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-decoration: none; }

/* line 283, scss/style.scss */
.menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #f16d7f;
  text-transform: uppercase;
  text-decoration: none; }

/* line 293, scss/style.scss */
.menu-list-item:hover > a {
  color: #9b5a63; }

/* line 299, scss/style.scss */
.menu-list-item:active > a {
  color: #000; }

/* line 304, scss/style.scss */
.menu-sublist {
  padding: 0 0 0 21.5px;
  box-sizing: border-box;
  list-style: none; }

/* line 311, scss/style.scss */
.menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6f6e6e; }

/* line 321, scss/style.scss */
.menu-sublist-item a {
  text-decoration: none; }

/* line 327, scss/style.scss */
.menu-sublist-item:hover a {
  text-decoration: underline; }

/* line 333, scss/style.scss */
.menu-sublist-item:active a {
  text-decoration: none; }

/* header banner */
/* line 340, scss/style.scss */
.header-banner {
  width: 100%;
  min-width: 700px;
  min-height: 764px;
  background-color: #f1e4e6;
  background-image: url(img/headerBaner/manjacket.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

/* line 353, scss/style.scss */
.header-baner-wrp {
  text-transform: uppercase;
  width: 377px;
  margin: 0 350px 90px 0;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 38, 4px;
  font-style: normal;
  color: #222222; }

/* line 365, scss/style.scss */
.header-baner-wrp::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: 6px;
  left: -16px; }

/* line 376, scss/style.scss */
.header-banner-subject {
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 48px;
  font-style: normal;
  line-height: 57.6px;
  color: #222222; }

/* line 386, scss/style.scss */
.header-banner-color-text {
  color: #f16d7f; }

/* categories */
/* line 392, scss/style.scss */
.categories {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 65px auto 96px auto; }

/* line 403, scss/style.scss */
.categories-items {
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 20px 20px 0; }

/* line 414, scss/style.scss */
.categories-items:nth-child(1) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/categories/forwoman.png); }

/* line 422, scss/style.scss */
.categories-items:nth-child(2) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/categories/forman.png); }

/* line 430, scss/style.scss */
.categories-items:nth-child(3) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/categories/forkids.png); }

/* line 438, scss/style.scss */
.categories-items:nth-child(4) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/categories/foraccesories.png);
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  margin-top: 5px; }

/* line 450, scss/style.scss */
.categories-items-title,
.categories-items-subtitle {
  display: block;
  width: 100%;
  text-transform: uppercase; }

/* line 457, scss/style.scss */
.categories-items-title {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #fff; }

/* line 465, scss/style.scss */
.categories-items-subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #f16d7f; }

/* products */
/* line 475, scss/style.scss */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

/* line 486, scss/style.scss */
.product-title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #222222;
  line-height: 36px; }

/* line 496, scss/style.scss */
.ptoduct-subtitle {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16, 8px;
  color: #9f9f9f;
  margin: 0 0 48px 0; }

/* line 507, scss/style.scss */
.product-item {
  width: 360px;
  min-height: 581px;
  text-decoration: none;
  color: #000;
  margin: 0 20px 20px 0;
  position: relative; }

/* line 516, scss/style.scss */
.product-item-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 10px;
  border: 1px solid #ffffff;
  background: transparent;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 35%; }

/* line 530, scss/style.scss */
.product-item-btn img {
  fill: #fff;
  margin: 0 11px 0 0; }

/* line 535, scss/style.scss */
.product-item:hover .product-item-btn {
  display: flex; }

/* line 539, scss/style.scss */
.product-item:hover .product-item-btn:hover img {
  fill: #000; }

/* line 543, scss/style.scss */
.product-item:hover .product-item-btn:hover {
  background-color: #c7c7c7;
  color: #000;
  border: 1px solid #000; }

/* line 549, scss/style.scss */
.product-item-photo-wrp {
  background-color: #f7e4e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

/* line 558, scss/style.scss */
.product-item-photo {
  display: block;
  margin: 0 auto;
  box-sizing: border-box; }

/* line 564, scss/style.scss */
.product-item-photo-wrp:hover {
  background-color: rgba(58, 56, 56, 0.86); }

/* line 568, scss/style.scss */
.product-item:hover .product-item-photo {
  filter: brightness(50%); }

/* line 572, scss/style.scss */
#girl {
  margin: 10px 110px; }

/* line 576, scss/style.scss */
.product-item-title {
  padding: 0 18px;
  font-size: 13px;
  line-height: 15, 6px; }

/* line 582, scss/style.scss */
.product-item-subtitle {
  padding: 12px 18px;
  font-size: 14px;
  color: #5d5d5d;
  line-height: 16, 8px;
  font-weight: 300;
  font-style: normal; }

/* line 591, scss/style.scss */
.product-item-cost {
  padding: 0 0 20px 18px;
  font-size: 16px;
  line-height: 19, 2px;
  color: #f16d7f; }

/* line 598, scss/style.scss */
.product-item-text {
  background-color: #f8f8f8;
  padding: 10px 0; }

/* line 603, scss/style.scss */
.all-product-btn {
  border: 1px solid #ff6a6a;
  padding: 14px 38px;
  font-size: 16px;
  text-transform: capitalize;
  color: #f26376;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 95px; }

/* line 614, scss/style.scss */
.all-product-btn:active {
  background-color: #ff6a6a;
  color: #fff; }

/* page bredcrumb */
/* line 621, scss/style.scss */
.page-bredcrumb {
  background-color: #f8f3f4;
  width: 100%; }

/* line 626, scss/style.scss */
.page-breadcrumb-content {
  background-color: #f8f3f4;
  width: 100%;
  min-height: 148px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* line 635, scss/style.scss */
.breadcrumb-links {
  margin-left: 330px; }

/* line 639, scss/style.scss */
.page-title {
  color: #f16d7f;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 280px; }

/* line 646, scss/style.scss */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  padding-right: 235px; }

/* line 652, scss/style.scss */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase; }

/* line 659, scss/style.scss */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0"; }

/* line 665, scss/style.scss */
ul.breadcrumb li a {
  color: #636363;
  text-decoration: none; }

/* line 670, scss/style.scss */
ul.breadcrumb:last-child {
  color: #f16d7f;
  font-weight: 700; }

/* line 675, scss/style.scss */
.page-name-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px; }

/* filter*/
/* line 683, scss/style.scss */
.page-filter {
  width: 100%;
  min-width: 1600px;
  margin-bottom: 60px; }

/* line 689, scss/style.scss */
#switch-filter {
  display: none; }

/* line 693, scss/style.scss */
#switch-filter:checked ~ .filter-list {
  display: block; }

/* line 697, scss/style.scss */
.filter {
  width: 360px;
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  background: #ffffff;
  position: absolute;
  z-index: 999;
  margin-left: 380px; }

/* line 707, scss/style.scss */
.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left; }

/* line 718, scss/style.scss */
.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase; }

/* line 726, scss/style.scss */
.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor; }

/* line 731, scss/style.scss */
.filter-btn:hover {
  color: #f16d7f; }

/* line 735, scss/style.scss */
.filter-btn:active {
  color: #222224; }

/* line 739, scss/style.scss */
.filter-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 746, scss/style.scss */
.filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #ebebeb;
  position: relative; }

/* line 759, scss/style.scss */
.filter-list-item:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  position: absolute;
  bottom: -1px;
  left: 0; }

/* line 770, scss/style.scss */
.filter-list-item a {
  text-transform: uppercase;
  color: #ef5b70;
  text-decoration: none; }

/* line 776, scss/style.scss */
.filter-list-item:hover:before {
  background-color: red; }

/* line 780, scss/style.scss */
.filter-list-item:hover a {
  color: red; }

/* line 784, scss/style.scss */
.filter-list-item:active:before {
  background-color: #ccc; }

/* line 788, scss/style.scss */
.filter-list-item:active a {
  color: #ccc; }

/* line 792, scss/style.scss */
.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none; }

/* line 799, scss/style.scss */
.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px; }

/* line 535, scss/style.scss */
/* line 808, scss/style.scss */
.filter-sublist-item:last-child {
  margin: 0 0 24px 0; }

/* line 812, scss/style.scss */
.filter-sublist-item a {
  color: #6f6e6e;
  text-decoration: none; }

/* line 817, scss/style.scss */
.filter-sublist-item:hover a {
  color: #ef5b70; }

/* line 821, scss/style.scss */
.filter-sublist-item:active a {
  color: #000; }

/* line 825, scss/style.scss */
.page-sort {
  font-size: 14px;
  font-weight: 1300;
  text-align: center; }

/* line 831, scss/style.scss */
ul.page-sort-title {
  padding: 10px 16px;
  list-style: none; }

/* line 836, scss/style.scss */
ul.page-sort-title li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

/* line 843, scss/style.scss */
ul.page-sort-title li a {
  color: #636363;
  text-decoration: none; }

/* line 848, scss/style.scss */
ul.page-sort-title li::after {
  padding: 8px;
  color: #6f6e6e;
  content: "\02C5\00a0"; }

/* page-cart*/
/* line 856, scss/style.scss */
.wrapper {
  max-width: 652px;
  display: flex;
  justify-content: space-between; }

/* line 862, scss/style.scss */
.page-cart-content {
  margin: 96px 380px; }

/* line 866, scss/style.scss */
.page-cart {
  min-width: 652px;
  max-height: 306px;
  display: flex;
  margin-bottom: 40px;
  box-shadow: 20px 10px 14px 0px #e5e5e5; }
  /* line 873, scss/style.scss */
  .page-cart a {
    margin: 22px -80px; }

/* line 878, scss/style.scss */
.page-cart-info {
  max-width: 262px;
  min-height: 222px;
  padding: 22px 0 0 10px; }

/* line 884, scss/style.scss */
.page-cart-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  color: #222222; }

/* line 893, scss/style.scss */
.page-cart-info-prodct {
  color: #575757; }

/* line 897, scss/style.scss */
.page-cart-info-product-container {
  margin-top: 42px;
  font-size: 22px; }

/* line 902, scss/style.scss */
#price {
  color: #f16d7f;
  margin-left: 3px; }

/* line 907, scss/style.scss */
#quantity {
  padding: 0 15px;
  border: 1px solid #eaeaea;
  margin-left: 30px; }

/* line 914, scss/style.scss */
.page-item {
  display: inline-block;
  margin: 13px 10px; }

/* line 919, scss/style.scss */
.page-item .page-link {
  text-decoration: none;
  color: #000; }

/* line 924, scss/style.scss */
.page-item .page-link:hover {
  color: #ef5b70; }

/* line 928, scss/style.scss */
.page-item span {
  color: #000;
  font-weight: 900; }

/* page-adress */
/* line 935, scss/style.scss */
.page-adress {
  min-width: 380px;
  margin-left: -280px;
  margin-top: 113px; }

/* line 941, scss/style.scss */
.page-adress-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }

/* line 949, scss/style.scss */
.page-info-adress {
  width: 100%;
  margin-top: 23px;
  padding: 13px 16px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px; }

/* line 959, scss/style.scss */
.page-submit-adress {
  padding: 13px 16px;
  color: #4a4a4a;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 23px;
  background-color: transparent;
  border: 1px solid #a4a4a4; }

/* line 970, scss/style.scss */
.page-adress-general {
  background-color: #f5f3f3;
  margin-top: 57px;
  height: 214px; }

/* line 976, scss/style.scss */
.page-adress-general-container {
  padding: 39px 45px 42px 43px; }

/* line 980, scss/style.scss */
.page-adress-general-content {
  text-align: end; }

/* line 984, scss/style.scss */
.page-adress-general-subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #222222; }

/* line 991, scss/style.scss */
.page-adress-general-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 -10px 0 0; }
  /* line 998, scss/style.scss */
  .page-adress-general-title p {
    padding-top: 12px; }

/* line 1003, scss/style.scss */
#sum-price {
  margin-left: 25px; }

/* line 1007, scss/style.scss */
#general-sum-price {
  color: #f16d7f;
  font-weight: bold;
  margin-left: 25px; }

/* line 1013, scss/style.scss */
.page-adress-line {
  max-width: 295px;
  border: 1px solid #e2e2e2;
  margin: 20px 20px; }

/* line 1019, scss/style.scss */
.page-adress-submit {
  max-width: 273px;
  padding: 16px 43px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px; }

/* page-registration */
/* line 1033, scss/style.scss */
.wrap {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px; }

/* line 1041, scss/style.scss */
.page-registration-info-product {
  width: 358px; }

/* line 1045, scss/style.scss */
.page-registration {
  max-width: 360px; }

/* line 1049, scss/style.scss */
.page-info-registration {
  width: 100%;
  margin-top: 23px;
  padding: 13px 10px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px; }

/* line 1059, scss/style.scss */
.page-info-registration-radio {
  margin: 32px 0;
  border: 1px solid #a4a4a4;
  box-sizing: border-box; }
  /* line 1064, scss/style.scss */
  .page-info-registration-radio label {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000; }

/* line 1073, scss/style.scss */
.page-info-registration-txt p {
  margin: 15px 0 30px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1; }

/* line 1082, scss/style.scss */
.page-registration-submit {
  min-width: 167px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  padding: 16px 0;
  margin-bottom: 60px; }

/* page-exclusive */
/* line 1093, scss/style.scss */
.page-exclusive {
  max-width: 652px; }

/* line 1097, scss/style.scss */
.page-exclusive-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }
  /* line 1102, scss/style.scss */
  .page-exclusive-title p {
    margin-bottom: 20px; }

/* line 1107, scss/style.scss */
.page-exclusive-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

/* line 1114, scss/style.scss */
.page-exclusive-content {
  padding-left: 35px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
  max-width: 652px;
  color: #000000; }

/* line 1125, scss/style.scss */
.page-exclusive-content-txt {
  line-height: 40px; }
  /* line 1127, scss/style.scss */
  .page-exclusive-content-txt::before {
    content: "\2713\00a0";
    display: block;
    position: absolute;
    right: 980px; }

/* page-carousel */
/* line 1137, scss/style.scss */
.page-carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  min-height: 777px; }

/* line 1147, scss/style.scss */
.page-carousel-control {
  padding: 12px 17px;
  border: none;
  background: rgba(42, 42, 42, 0.15);
  cursor: pointer; }

/* line 1154, scss/style.scss */
.control-left {
  border: none;
  background-color: transparent; }

/* line 1159, scss/style.scss */
.control-right {
  border: none;
  background-color: transparent; }

/* page-info-about-product */
/* line 1166, scss/style.scss */
.page-info-about-product {
  max-width: 1140px;
  min-height: 601px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: 0 auto;
  margin-top: -70px;
  position: relative; }

/*=========end page-info-about-product  ===========*/
/* line 1178, scss/style.scss */
.page-info-product {
  width: 1141px;
  min-height: 601;
  border: 1px solid #eaeaea;
  text-align: center; }

/* line 1185, scss/style.scss */
.page-info-about-content {
  text-align: center;
  padding-top: 65px; }

/* line 1190, scss/style.scss */
.page-info-collection {
  font-size: 14px;
  font-weight: 300;
  color: #f16d7f;
  text-transform: uppercase;
  line-height: 17px; }
  /* line 1196, scss/style.scss */
  .page-info-collection::after {
    content: "";
    display: block;
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    position: absolute;
    right: 535px;
    margin-top: 10px; }

/* line 1208, scss/style.scss */
.page-info-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 12px 0 48px 0;
  margin-left: 100px; }

/* line 1218, scss/style.scss */
.page-info-txt {
  width: 555px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 32px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center; }

/* line 1230, scss/style.scss */
.page-info-cost {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px; }

/* line 1237, scss/style.scss */
.page-info-line {
  content: "";
  display: block;
  width: 641px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 65px; }

/* products */
/* line 1250, scss/style.scss */
.product-link {
  background-color: #f16d7f; }

/* line 1254, scss/style.scss */
.product-item-text {
  background-color: #f8f8f8;
  padding: 16px 0; }

/* line 1259, scss/style.scss */
.product-item-cost {
  padding-left: 20px; }

/* line 1263, scss/style.scss */
#man {
  margin-top: 20px; }

/* line 1267, scss/style.scss */
ul.page-sort-title {
  padding: 10px 16px;
  list-style: none; }

/* line 1272, scss/style.scss */
ul.page-sort-title li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

/* line 1279, scss/style.scss */
ul.page-sort-title li a {
  color: #636363;
  text-decoration: none; }

/* line 1284, scss/style.scss */
ul.page-sort-title li::after {
  padding: 8px;
  color: #6f6e6e;
  content: "\02C5\00a0"; }

/* line 1290, scss/style.scss */
.page-info-btn {
  width: 211px;
  background-color: transparent;
  border: 1px solid #ff6a6a;
  color: #ff6a6a;
  margin-top: 48px; }
  /* line 1297, scss/style.scss */
  .page-info-btn a {
    padding-top: 14px;
    text-decoration: none;
    color: #ff6a6a;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px; }
    /* line 1306, scss/style.scss */
    .page-info-btn a span {
      margin-left: 15px; }

/* line 1312, scss/style.scss */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 129px; }

/* line 1324, scss/style.scss */
.product-item {
  width: 360px;
  min-height: 581px;
  text-decoration: none;
  color: #000;
  margin: 0 20px 20px 0;
  position: relative; }

/* line 1333, scss/style.scss */
.product-item-photo-wrp {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

/* line 1342, scss/style.scss */
.product-item-photo {
  display: block;
  margin: 0 auto;
  box-sizing: border-box; }

/* line 1348, scss/style.scss */
.product-item-title {
  padding: 0 18px;
  font-size: 13px;
  line-height: 15, 6px; }

/* line 1354, scss/style.scss */
.product-item-subtitle {
  padding: 12px 18px;
  font-size: 14px;
  color: #5d5d5d;
  line-height: 16, 8px;
  font-weight: 300;
  font-style: normal; }

/* our-features */
/* line 1365, scss/style.scss */
.our-features {
  width: 100%;
  min-width: 100%;
  min-height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 95.5px auto 0 auto;
  background-color: #222224; }

/* line 1378, scss/style.scss */
.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 90px 0 0; }

/* line 1387, scss/style.scss */
.features-icon {
  display: block;
  margin: 0 0 28px 0; }

/* line 1392, scss/style.scss */
.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 90px;
  font-size: 19px;
  color: #fbfbfb; }

/* line 1400, scss/style.scss */
.feature-title-text {
  text-align: center;
  color: #fbfbfb;
  font-size: 13px; }

/* subscribe */
/* line 1408, scss/style.scss */
.subscribe {
  width: 100%;
  min-width: 768px;
  min-height: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/subscribe/bacground.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

/* line 1426, scss/style.scss */
.subscribe-info {
  width: 359px;
  min-height: 225px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 390px 0 0; }

/* line 1436, scss/style.scss */
.subscribe-info-userpic {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 50px 0 0;
  background-image: url(img/subscribe/userpic.png); }

/* line 1444, scss/style.scss */
.subscribe-info-text {
  width: 100%;
  height: 99px;
  text-align: center;
  font-size: 20px;
  color: #222224;
  font-style: italic; }

/* line 1453, scss/style.scss */
.subscribe-form {
  width: 358px; }

/* line 1457, scss/style.scss */
.subscribe-form-title,
.subscribe-form-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #222224; }

/* line 1464, scss/style.scss */
.subscribe-form-title {
  display: block;
  font-size: 24px; }

/* line 1469, scss/style.scss */
.subscribe-form-subtitle {
  line-height: 30px;
  font-size: 18px; }

/* line 1474, scss/style.scss */
.subscribe-form-btn {
  width: 357px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 1481, scss/style.scss */
.subscribe-form-email {
  display: flex;
  align-items: center;
  border: none;
  padding: 14px 20px;
  border-radius: 20px 0 0 20px;
  color: #222224;
  background-color: #e1e1e1;
  font-size: 14px;
  opacity: 67%;
  line-height: 17px; }

/* line 1494, scss/style.scss */
.subscribe-form-email:active {
  border-radius: 20px 0 0 20px; }

/* line 1498, scss/style.scss */
.subscribe-form-submit {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 14px 20px;
  background-color: #f16d7f;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer; }

/* line 1510, scss/style.scss */
.subscribe-form-submit:active {
  background-color: #fff;
  color: #ff6a6a;
  border: 1px solid #ff6a6a; }

/* footer */
/* line 1518, scss/style.scss */
.page-footer {
  width: 100%;
  min-width: 300px;
  min-height: 79px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
  padding: 20px 235px;
  margin: 0 auto; }

/* line 1531, scss/style.scss */
.page-foter-text {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 19px; }

/* line 1537, scss/style.scss */
.fa {
  background-color: #fff;
  padding: 8px;
  width: 31px;
  height: 32px;
  text-decoration: none;
  color: #000;
  text-align: center;
  margin: 0 3px 0 0;
  cursor: pointer; }

/* line 1549, scss/style.scss */
.fa:hover {
  color: #fff;
  transition: 0.3s; }

/* line 1554, scss/style.scss */
.fa-facebook:hover {
  background-color: #3b5998; }

/* line 1558, scss/style.scss */
.fa-instagram:hover {
  background-color: #e1306c; }

/* line 1562, scss/style.scss */
.fa-pinterest:hover {
  background-color: #e60023; }

/* line 1566, scss/style.scss */
.fa-twitter:hover {
  background-color: #1da1f2; }

@media only screen and (max-width: 768px) {
  /* line 1571, scss/style.scss */
  body {
    width: 100%;
    margin: 0;
    padding: 0; }

  /* line 1577, scss/style.scss */
  .container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto; }

  /* line 1583, scss/style.scss */
  .page-header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px; }

  /* line 1589, scss/style.scss */
  .page-header-btn {
    margin-right: 0; }

  /* line 1593, scss/style.scss */
  .page-header-wrap {
    margin: 0; }

  /* line 1597, scss/style.scss */
  .header-banner {
    width: 100%;
    width: 100%;
    min-height: 367px;
    background-size: 386px 368px; }

  /* line 1604, scss/style.scss */
  .header-baner-wrp {
    margin-right: 0px;
    line-height: 20px; }

  /* line 1609, scss/style.scss */
  .header-banner-subject {
    font-size: 44px; }

  /* line 1613, scss/style.scss */
  .header-baner-subtitle {
    font-size: 24px; }

  /* line 1617, scss/style.scss */
  .page-breadcrumb-content {
    display: flex;
    justify-content: space-between;
    padding: 0 16px; }

  /* line 1624, scss/style.scss */
  .page-title {
    min-width: 194px;
    display: inline;
    margin-left: 0; }

  /* line 1630, scss/style.scss */
  .breadcrumb-links,
  .breadcrumb {
    width: 100%;
    margin: 0;
    display: inline;
    padding: 0; }

  /* line 1639, scss/style.scss */
  ul.breadcrumb {
    padding: 0; }

  /* line 1644, scss/style.scss */
  .page-filter {
    width: 100%;
    min-width: 100%;
    display: block; }

  /* line 1652, scss/style.scss */
  .page-sort-title {
    text-align: end; }

  /* line 1656, scss/style.scss */
  .filter {
    padding-left: 16px;
    margin: 0; }

  /* line 1662, scss/style.scss */
  .products {
    margin-bottom: 60px; }

  /* line 1666, scss/style.scss */
  .pagination {
    margin-top: 10px; }

  /* line 1673, scss/style.scss */
  .product-item:nth-child(3) {
    display: none; }

  /* line 1681, scss/style.scss */
  .categories {
    width: 100%;
    min-width: 100%;
    margin-top: 20px; }

  /* line 1688, scss/style.scss */
  .categories-items {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 232px;
    max-height: 167px;
    margin-right: 1px;
    background-size: 232px 167px;
    background-repeat: no-repeat; }
    /* line 1699, scss/style.scss */
    .categories-items:nth-child(3) {
      margin-left: 18px; }
    /* line 1703, scss/style.scss */
    .categories-items:nth-child(2) {
      margin-left: 16px; }
    /* line 1707, scss/style.scss */
    .categories-items:nth-child(4) {
      width: 100%;
      max-width: 734px;
      min-height: 167px;
      background-size: 734px 167px;
      background-repeat: no-repeat; }

  /* line 1716, scss/style.scss */
  .products {
    width: 100%;
    min-width: 764px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

  /* line 1724, scss/style.scss */
  .product-item {
    margin: 0; }

  /* line 1728, scss/style.scss */
  .link-all-product {
    margin-top: 30px; }

  /* line 1732, scss/style.scss */
  .our-features {
    width: 100%;
    max-width: 700px;
    min-height: 610px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0; }

  /* line 1743, scss/style.scss */
  .features-item {
    margin: 0;
    margin-top: 40px; }

  /* line 1748, scss/style.scss */
  .subscribe {
    display: flex;
    flex-direction: column;
    background-size: 768px 503px;
    background-position: left;
    min-height: 500px; }

  /* line 1756, scss/style.scss */
  .subscribe-info {
    margin: 0; }

  /* line 1760, scss/style.scss */
  .subscribe-info-userpic {
    margin-left: 40px; }

  /* line 1764, scss/style.scss */
  .subscribe-form-btn {
    margin-top: 10px; }

  /* line 1768, scss/style.scss */
  .page-footer {
    width: 100%;
    min-width: 768px;
    padding: 0;
    padding: 0 32px; } }
@media (max-width: 425px) {
  /* line 1777, scss/style.scss */
  body {
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0; }

  /* line 1784, scss/style.scss */
  .container {
    width: 100%;
    min-width: 100%;
    margin: 0 auto; }

  /* line 1790, scss/style.scss */
  .page-header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px; }

  /* line 1796, scss/style.scss */
  .user-profile-btn,
  .basket-btn {
    display: none; }

  /* line 1801, scss/style.scss */
  .menu {
    padding-left: 150px; }

  /* line 1806, scss/style.scss */
  .header-baner-wrp {
    margin-left: 80px; }

  /* line 1810, scss/style.scss */
  .header-banner {
    width: 100%;
    min-width: 100%;
    min-height: 363px;
    background-image: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px; }

  /* line 1821, scss/style.scss */
  .header-banner-subject {
    font-size: 38px; }

  /* line 1827, scss/style.scss */
  .page-breadcrumb-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }

  /* line 1836, scss/style.scss */
  .filter {
    z-index: 1; }
    /* line 1838, scss/style.scss */
    .filterspan {
      display: none; }
    /* line 1841, scss/style.scss */
    .filtersvg {
      width: 37px;
      height: 25px; }

  /* line 1848, scss/style.scss */
  .page-sort {
    z-index: 10; }

  /* line 1854, scss/style.scss */
  .products {
    margin-top: 0px; }

  /* line 1858, scss/style.scss */
  .categories {
    width: 100%;
    min-width: 100%;
    margin-top: 64px; }

  /* line 1865, scss/style.scss */
  .categories-items {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 344px;
    max-height: 249px;
    margin-bottom: 32px;
    background-size: 344px 249px;
    background-repeat: no-repeat; }
    /* line 1876, scss/style.scss */
    .categories-items:nth-child(3) {
      margin-left: 0; }
    /* line 1880, scss/style.scss */
    .categories-items:nth-child(2) {
      margin-left: 0; }
    /* line 1884, scss/style.scss */
    .categories-items:nth-child(4) {
      width: 100%;
      max-width: 344px;
      max-height: 111px;
      background-size: auto;
      background-repeat: no-repeat; }

  /* line 1893, scss/style.scss */
  .products {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

  /* line 1901, scss/style.scss */
  .subscribe {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-size: 768px 503px;
    background-position: left;
    min-height: 500px; }

  /* line 1911, scss/style.scss */
  .page-footer {
    width: 100%;
    min-width: 100%;
    min-height: 143px;
    padding: 0;
    padding: 10px 32px;
    display: flex;
    flex-direction: column-reverse; }

  /* line 1921, scss/style.scss */
  .page-foter-socials {
    padding-top: 33px; } }

/*# sourceMappingURL=style.css.map */
