body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    min-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
}

*:focus:not(:focus-visible),
input:focus:not(:focus-visible){
  outline: 0;
}

*:focus-visible,
input:focus-visible{
  outline:  rgb(216, 216, 216);
  border-radius: 10px;
}


/* page header */

.page-header {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 18px 0;
    box-sizing: border-box;
    background: #222222;

    position: relative;
    
  }


.page-header-wrap{
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 381px;
}

.page-header-btn{
    width: 169px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 390px;
}

.page-header-btn button{
    padding: 0;
    background-color: transparent;
    border: none;
}

.page-header-wrap img {
    width: 100%;
    height: 100%;
    
  }

  /* page hesder logo */

.page-header-logo{
    display: block;
    width: 44px;
    height: 38px;
}

.page-header-logo:hover img{
    filter: brightness(50%);
}

.page-header-logo:active img{
    filter: brightness(25%);
}

.page-search-btn-form{
    width: 26px;
    height: 27px;

    position: relative;
}

.page-search-btn-form:hover img{
    filter: brightness(50%);
}

.page-search-btn-form:active{
    filter: brightness(25%);
}

.page-search-btn-input{
    width: 0;
    height: 0;
    background-color: transparent;
    padding: 5px;
    border: none;
    position: absolute;
    top: -2px;
    left: 35px;
    text-transform: capitalize
}

.page-search-btn-input:focus{
    width: 230px;
    height: 30px;
    background-color: rgb(199, 199, 199);
    transition: 0.5s;
}

.page-header-btn{
    width: 168px;
    min-height: 37px;
    display: flex;
    justify-content: space-between;
    margin:9px 240px 0 0;

}

/* menu */

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after{
    background-color: #F16D7F;
    cursor: pointer;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after{
    background-color: #9F9F9F;
}

.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
}


.menu-btn span::after {
    top: 10px;
}

#menu-switch {
    display: none;
}

#menu-switch:checked ~ .menu-list {
    display: block;
}

  
.menu-list {
    display: none;
    width: 232px;
    min-height: 764px;    padding: 16px 33px;
    box-sizing: border-box;
    background-color: #fff;
    list-style: none;
    
    position: absolute;
    top: 76px;
    right: 0;
    z-index: 20;
    box-shadow: 1px 1px 10px 0 #000 ;
}

.menu-list-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    
    position: relative;
    top: 0;
    left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
}

.menu-list-close-btn::after {
    transform: rotate(-45deg);
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
    background-color: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after{
    background-color: #535353;
}

.menu-list-title {
    display: block;
    margin: 9px 0 24px 0;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.menu-title  a,
.menu-list-item  a,
.menu-sublist-item  a {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    text-decoration: none;
}

.menu-list-item > a {
    display: block;
    margin: 0 0 11px 0;
    color: #F16D7F;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-list-item:hover > a {
    color: #9b5a63;
}

.menu-list-item:active > a {
    color: #000;
}

.menu-sublist {
    padding: 0 0 0 21.5px;
    box-sizing: border-box;
    list-style: none;
}

.menu-sublist-item>a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 11px 0;
    color: #6F6E6E;
}

.menu-sublist-item a {
    text-decoration: none;
}

.menu-sublist-item:hover a {
    text-decoration: underline;
}

.menu-sublist-item:active a {
    text-decoration: none;
}


/* bread crumb */

.page-bredcrumb{
    background-color: #F8F3F4;
    width: 100%;
    min-width: 1600px;
    min-height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title{
    color: #F16D7F;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 220px;
    
}


ul.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    padding-right: 235px;
}

.page-breadcrumb-content{
    width: 1580px;
    display: flex;
    justify-content: space-between;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #000;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #636363;
    text-decoration: none;
}

ul.breadcrumb:last-child{
    color: #F16D7F;
    font-weight: 700;
}

/* filter */

.page-filter{
    width: 100%;
    min-width: 1600px;
    margin-bottom: 60px;
}

#switch-filter {
    display: none;
}

#switch-filter:checked ~ .filter-list {
    display: block;
}
  
  .filter {
    width: 360px;
    padding: 13px 16px 16px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    
    position: absolute; 
    z-index: 999;
    margin-left: 380px;
  }

  .filter-btn {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #000000;
    text-align: left;
  }

  .filter-btn span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: uppercase;
  }

  .filter-btn svg {
    margin: 0 0 0 11px;
    fill: currentColor;
  }
  
  .filter-btn:hover {
    color: #F16D7F;
  }

  .filter-btn:active {
    color: #222224;
    
  }
  
  .filter-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  .filter-list-item {
    width: 100%;
    margin: 0 0 18px 0;
    padding: 11px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
  }

  .filter-list-item:before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .filter-list-item a {
    text-transform: uppercase;
    color: #EF5B70;
    text-decoration: none;
  }

  .filter-list-item:hover:before {
    background-color: red;
  }

  .filter-list-item:hover a {
    color: red;
  }

  .filter-list-item:active:before {
    background-color: #ccc;
    
  }

  .filter-list-item:active a {
    color: #ccc;
  }
  
  .filter-sublist {
    margin: 24px 0 0 0;
    padding: 0 0 0 7px;
    box-sizing: border-box;
    list-style: none;
  }
  
  .filter-sublist-item {
    margin: 0 0 11px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
  }

  .filter-sublist-item:last-child {
    margin: 0 0 24px 0;
  }
  
  .filter-sublist-item a {
    color: #6F6E6E;
    text-decoration: none;
  }
  
  .filter-sublist-item:hover a {
    color: #EF5B70;
  }

  .filter-sublist-item:active a {
    color: #000;
  }

.page-sort{
    font-size: 14px;
    font-weight: 1300;
    text-align: center;
}

ul.page-sort-title{
    padding: 10px 16px;
    list-style: none;
}

ul.page-sort-title li {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

ul.page-sort-title li a {
    color: #636363;
    text-decoration: none;
}

ul.page-sort-title li::after {
    padding: 8px;
    color: #6F6E6E;
    content: "\02C5\00a0";
}



/* header banner */

.header-banner{
    width: 100%;
    min-height: 764px;
    background-color: #F1E4E6;
    background-image: url(/front/img/headerBaner/Layer_57-removebg-preview\ 1manjacket.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.header-baner-wrp{
    text-transform: uppercase;
    width: 377px;
    margin: 0 500px 90px 0;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    line-height: 38,4px;
    font-style: normal;
    color: #222222;
}

.header-baner-wrp::before{
    content: '';
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 0px;
    left: -16px;
}

.header-banner-subject{
    display: block;
    width: 100%;
    font-weight: 900;
    font-size: 48px;
    font-style: normal;
    line-height: 57.6px;
    color: #222222;
}

.header-banner-color-text{
    color: #F16D7F;
}

/* categories */

.categories{
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 65px auto 96px auto;
}

.categories-items{
    width: 360px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 20px 20px 0;
}

.categories-items:nth-child(1){
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/front/img/categories/Layer\ 43forwoman.png);
}

.categories-items:nth-child(2){
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/front/img/categories/Rectangle\ 30forman.png);
}

.categories-items:nth-child(3){
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/front/img/categories/Rectangle\ 30forkids.png);
}

.categories-items:nth-child(4){
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/front/img/categories/Rectangle\ 20foraccesories.png);
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.categories-items-title,
.categories-items-subtitle{
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.categories-items-title{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.categories-items-subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color:#F16D7F;
}

/* products */

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.product-title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #222222;
    line-height: 36px;
}

.ptoduct-subtitle{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16,8px;   
    color: #9F9F9F; 
    margin: 0 0 48px 0;
}

.product-item{
    width: 360px;
    min-height: 551px;
    text-decoration: none;
    color: #000;
    margin: 0 20px 20px 0;
    position: relative; 
}

.product-item-photo-wrp{
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-item-photo{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;

}

#girl{
    margin: 10px 110px;
}

#man{
    margin: 10px 110px;
}

.product-item-title{
    padding: 10px 18px;
    font-size: 13px;
    line-height: 15,6px;
}

.product-item-subtitle{
    padding: 12px 18px;
    font-size: 14px;
    color: #5D5D5D;
    line-height: 16,8px;
    font-weight: 300;
    font-style: normal;
}

.product-item-cost{
    padding: 0 0 20px 18px;
    font-size: 16px;
    line-height: 19,2px;
    color: #F16D7F;;
}

.product-item-text{
    background-color: #F8F8F8;
    padding: 10px 0;
}

.all-product-btn{
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    font-size: 16px;
    text-transform: capitalize;
    color: #F26376;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 95px;
}

.all-product-btn:active{
    background-color: #FF6A6A;
    color: #fff;
}

/* pagination */

.pagination{
    display: flex;
    border: 1px solid #EBEBEB;
}

.page-item{
    display: inline-block;
    padding: 5px 10px;
}

.page-link{
   text-decoration: none; 
   color: #EBEBEB;
}

.page-link:hover{
    color: #EF5B70;
}

/* ======== end pagination ======= */

/* features company */

.our-features{
    min-width: 1600px;
    min-height: 341px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 95.5px auto 0 auto;
    background-color: #222224;
}

.features-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 90px 0 0;
    }

.features-icon{
    display: block;
    margin: 0 0 28px 0;
}

.features-item-title{
    display: block;
    width: 100%;
    margin: 0 0 16px 90px;
    font-size: 19px;
    color: #FBFBFB;
}

.feature-title-text{
    text-align: center;
    color: #FBFBFB;
    font-size: 13px;
}

/* subscribe */

.subscribe{
    width: 100%;
    min-width: 1600px;
    min-height: 448px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(244,244,244, 0.7), rgba(244,244,244, 0.7)), url(/front/img/subscribe/Layer\ 41bacground.jpg);
    background-size: 100%;
}

.subscribe-info{
    width: 359px;
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 390px 0 0;
}

.subscribe-info-userpic{
    width: 96px;
    height: 96px;
    display: block;
    background-image: url(/front/img/subscribe/Layer\ 40subscribeuserpic.png);
    margin: 0 50px 30px 0;
}

.subscribe-info-text{
    width: 100%;
    height: 99px;
    text-align: center;
    font-size: 20px;
    color: #222224;
    font-style: italic;
}

.subscribe-form{
    width: 357px;
}

.subscribe-form-title,
.subscribe-form-subtitle{
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

.subscribe-form-title{
    display: block;
    font-size: 24px;
}

.subscribe-form-subtitle{
    line-height: 30px;
    font-size: 18px;

}

.subscribe-form-btn{
    width: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.subscribe-form-email{
    display: flex;
    align-items: center;
    border: none;
    padding: 14px 20px;
    border-radius: 20px 0 0 20px;
    color: #222224;
    background-color: #E1E1E1;
    font-size: 14px;
    opacity: 67%;
    line-height: 17px;
}

.subscribe-form-email:active{
    border-radius: 20px 0 0 20px;
}

.subscribe-form-submit{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0 20px 20px 0 ;
    padding: 14px 20px;
    background-color: #F16D7F;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}

.subscribe-form-submit:active{
    background-color: #fff;
    color: #FF6A6A;
    border: 1px solid #FF6A6A
}

/* footer */

.page-footer{
    width: 100%;
    min-width: 1600px;
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222224;
    padding: 20px 235px;
}

.page-foter-text{
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
}

.fa {
    background-color: #fff;
    padding: 8px;
    width: 31px;
    height: 32px;
    text-decoration: none;
    color: #000;
    text-align: center;
    margin: 0 3px 0 0;
    cursor: pointer;
}

.fa:active{
    background-color: #F16D7F;
    color: #fff;
}